@import url(font-awesome.min.css);
@import url("http://fonts.useso.com/css?family=Lato:400,400italic,700,700italic|Source+Code+Pro:400");

a {
		-moz-transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;
		-webkit-transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;
		-o-transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;
		-ms-transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;
		transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;
		color: inherit;
		font-weight: 700;
		text-decoration:none;
	}
a:hover {
			border-bottom-color: transparent;
			color: #990000;
		}

/*以下比赛经历*/
ol, ul{list-style:none;}
.clearfix:before,.clearfix:after{display:table;content:"";}
.clearfix:after{clear:both;}
.clearfix{zoom:1;}/*兼容IE6，也可以用height：1%来代替*/
.about4{width:648px;margin:40px 70px 0 auto;}
.about4_main{padding:10px 0;background-color:#eee;position:relative;padding-left:20px;overflow:hidden;z-index:999;}

.line{margin-top:10px;width:1px;height:100%;background-color:#999;position:absolute;left:26px;z-index: -1;}
.about4_main ul li{padding-left:25px;font-size:14px;color:#333333;line-height:30px;margin-bottom:30px;background:url(../images/about4_icon.png) left center no-repeat;}
.about4_main ul li:last-child{margin-bottom:0px;}
/*以上比赛经历*/
		
	b {
		color: #777;
		font-weight: 700;
	}
	em{
		font-style: italic;
	}
	p {
		margin: 0 0 2.25em 0;
	}
	h1, h2, h3, h4, h5, h6 {
		color: #777;
		font-weight: 700;
		line-height: 1em;
		margin: 0 0 0.5625em 0;
	}
    h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
			border: 0;
			color: inherit;
			text-decoration: none;
		}

	h2 {
		font-size: 2em;
		line-height: 1.5em;
	}

	h3 {
		font-size: 1.75em;
		line-height: 1.5em;
	}

	h4 {
		font-size: 1.25em;
		line-height: 1.5em;
	}

	h5 {
		font-size: 0.9em;
		line-height: 1.5em;
	}

	h6 {
		font-size: 0.7em;
		line-height: 1.5em;
	}

	sub {
		font-size: 0.8em;
		position: relative;
		top: 0.5em;
	}

	sup {
		font-size: 0.8em;
		position: relative;
		top: -0.5em;
	}

	hr {
		border: 0;
		border-bottom: solid 2px #f4f4f4;
		margin: 2.25em 0;
	}

		hr.major {
			margin: 3.375em 0;
		}

	blockquote {
		border-left: solid 8px #e4e4e4;
		font-style: italic;
		margin: 0 0 2.25em 0;
		padding: 0.5em 0 0.5em 2em;
	}

	.copyrights{text-indent:-9999px;height:0;line-height:0;font-size:0;overflow:hidden;}
	
	code {
		background: #555;
		border-radius: 5px;
		color: #fff;
		font-family: "Source Code Pro", monospace;
		font-size: 0.9em;
		margin: 0 0.25em;
		padding: 0.25em 0.65em;
	}

	pre {
		font-family: "Source Code Pro", monospace;
		font-size: 0.9em;
		margin: 0 0 2.25em 0;
	}

		pre code {
			-webkit-overflow-scrolling: touch;
			display: block;
			line-height: 1.5em;
			overflow-x: auto;
			padding: 1em 1.5em;
		}

	.align-left {
		text-align: left;
	}

	.align-center {
		text-align: center;
	}

	.align-right {
		text-align: right;
	}

/* Section/Article */

	section.special, article.special {
		text-align: center;
	}

	header p {
		color: #aaa;
		position: relative;
		margin: 0 0 1.6875em 0;
	}

		header.major p {
			color: #777;
			font-size: 1.75em;
			font-weight: 700;
			margin-top: -0.75em;
		}

/* Form */

	form {
		margin: 0 0 2.25em 0;
	}

	label {
		color: #777;
		display: block;
		font-size: 0.9em;
		font-weight: 700;
		margin: 0 0 1.125em 0;
	}

	input::-moz-focus-inner {
		border: 0;
		padding: 0;
	}

	input[type="text"],
	input[type="password"],
	input[type="email"],
	select,
	textarea {
		-moz-appearance: none;
		-webkit-appearance: none;
		-o-appearance: none;
		-ms-appearance: none;
		appearance: none;
		border-radius: 5px;
		border: none;
		border: solid 2px #e4e4e4;
		color: inherit;
		display: block;
		outline: 0;
		padding: 0 1em;
		text-decoration: none;
		width: 100%;
	}

		input[type="text"]:invalid,
		input[type="password"]:invalid,
		input[type="email"]:invalid,
		select:invalid,
		textarea:invalid {
			box-shadow: none;
		}

		input[type="text"]:focus,
		input[type="password"]:focus,
		input[type="email"]:focus,
		select:focus,
		textarea:focus {
			border-color: #4acaa8;
		}

	.select-wrapper {
		text-decoration: none;
		display: block;
		position: relative;
	}

		.select-wrapper:before {
			content: '\f078';
			-moz-osx-font-smoothing: grayscale;
			-webkit-font-smoothing: antialiased;
			font-family: FontAwesome;
			font-style: normal;
			font-weight: normal;
			text-transform: none !important;
		}

		.select-wrapper:before {
			color: #e4e4e4;
			display: block;
			height: 2.75em;
			line-height: 2.75em;
			pointer-events: none;
			position: absolute;
			right: 0;
			text-align: center;
			top: 0;
			width: 2.75em;
		}

		.select-wrapper select::-ms-expand {
			display: none;
		}

	input[type="text"],
	input[type="password"],
	input[type="email"],
	select {
		height: 2.75em;
	}

	textarea {
		padding: 0.75em 1em;
	}

	input[type="checkbox"],
	input[type="radio"] {
		-moz-appearance: none;
		-webkit-appearance: none;
		-o-appearance: none;
		-ms-appearance: none;
		appearance: none;
		display: block;
		float: left;
		margin-right: -2em;
		opacity: 0;
		width: 1em;
		z-index: -1;
	}

		input[type="checkbox"] + label,
		input[type="radio"] + label {
			text-decoration: none;
			color: #888;
			cursor: pointer;
			display: inline-block;
			font-size: 1em;
			font-weight: 400;
			padding-left: 2.4em;
			padding-right: 0.75em;
			position: relative;
		}

			input[type="checkbox"] + label:before,
			input[type="radio"] + label:before {
				-moz-osx-font-smoothing: grayscale;
				-webkit-font-smoothing: antialiased;
				font-family: FontAwesome;
				font-style: normal;
				font-weight: normal;
				text-transform: none !important;
			}

			input[type="checkbox"] + label:before,
			input[type="radio"] + label:before {
				background: #fafafa;
				border-radius: 5px;
				border: solid 2px #e4e4e4;
				content: '';
				display: inline-block;
				height: 1.65em;
				left: 0;
				line-height: 1.58125em;
				position: absolute;
				text-align: center;
				top: 0;
				width: 1.65em;
			}

		input[type="checkbox"]:checked + label:before,
		input[type="radio"]:checked + label:before {
			background: #989898;
			border-color: #989898;
			color: #ffffff;
			content: '\f00c';
		}

		input[type="checkbox"]:focus + label:before,
		input[type="radio"]:focus + label:before {
			border-color: #4acaa8;
		}

	input[type="checkbox"] + label:before {
		border-radius: 5px;
	}

	input[type="radio"] + label:before {
		border-radius: 100%;
	}

	::-webkit-input-placeholder {
		color: #aaa !important;
		font-style: italic;
		opacity: 1.0;
	}

	:-moz-placeholder {
		color: #aaa !important;
		font-style: italic;
		opacity: 1.0;
	}

	::-moz-placeholder {
		color: #aaa !important;
		font-style: italic;
		opacity: 1.0;
	}

	:-ms-input-placeholder {
		color: #aaa !important;
		font-style: italic;
		opacity: 1.0;
	}

	.formerize-placeholder {
		color: #aaa !important;
		font-style: italic;
		opacity: 1.0;
	}

/* Box */

	.box {
		border-radius: 5px;
		border: solid 2px #e4e4e4;
		margin-bottom: 2.25em;
		padding: 1.5em;
	}

		.box > :last-child,
		.box > :last-child > :last-child,
		.box > :last-child > :last-child > :last-child {
			margin-bottom: 0;
		}

		.box.alt {
			border: 0;
			border-radius: 0;
			padding: 0;
		}
.incon>li{
    float: left;
}
.incon>li>a{
    font-size: 20px;
    color: #333333;
}

    .icons {
			list-style: none;
			padding-left: 0;
			width:100%;
			height:50px;
			display:flex;
            justify-content:center;
            align-items:center;
                background-color: #333333;
		}
/* Icon 
	.icon {
		text-decoration: none;
		border-bottom: none;
		padding:5px 20px;
		float:left;
	}
	.icon:before {
			-moz-osx-font-smoothing: grayscale;
			-webkit-font-smoothing: antialiased;
			font-family: FontAwesome;
			font-style: normal;
			font-weight: normal;
			text-transform: none !important;
		}

	.icon > .label {
			display: none;
		}*/
/* Image */

	.image {
		border-radius: 5px;
		border: 0;
		display: inline-block;
		position: relative;
	}

		.image img {
			border-radius: 5px;
			display: block;
		}

		.image.left {
			float: left;
			margin: 0 2.5em 2em 0;
			top: 0.25em;
		}

		.image.right {
			float: right;
			margin: 0 0 2em 2.5em;
			top: 0.25em;
		}

		.image.fit {
			display: block;
			margin: 0 0 2.25em 0;
			width: 100%;
		}

			.image.fit img {
				display: block;
				width: 100%;
			}

		.image.avatar {
			border-radius: 100%;
			overflow: hidden;
		}

			.image.avatar img {
				border-radius: 100%;
				display: block;
				width: 100%;
			}


/* Table */

	.table-wrapper {
		-webkit-overflow-scrolling: touch;
		overflow-x: auto;
	}

	table {
		margin: 0 0 2.25em 0;
		width: 100%;
	}

		table tbody tr {
			border: solid 2px #f4f4f4;
			border-left: 0;
			border-right: 0;
		}

			table tbody tr:nth-child(2n + 1) {
				background-color: #fafafa;
			}

		table td {
			padding: 0.75em 0.75em;
			vertical-align: middle;
			line-height: 5px;
		}
		table th {
			color: #777;
			font-size: 0.9em;
			font-weight: 700;
			padding: 0.75em 0.75em 0.75em 0.75em;
			text-align: left;
			background-color: #FFF;
		}
.ABC{
	width:3.8%;
	height:100%;
	background-color: pink;
	text-align: center;
	padding:2px 2px;
	float:left;
}
		table thead {
			border-bottom: solid 4px #e4e4e4;
		}

		table tfoot {
			border-top: solid 4px #e4e4e4;
		}

		table.alt {
			border-collapse: separate;
		}

			table.alt tbody tr td {
				border: solid 2px #e4e4e4;
				border-left-width: 0;
				border-top-width: 0;
			}

				table.alt tbody tr td:first-child {
					border-left-width: 2px;
				}

			table.alt tbody tr:first-child td {
				border-top-width: 2px;
			}

			table.alt thead {
				border-bottom: 0;
			}

			table.alt tfoot {
				border-top: 0;
			}
/*我的动态 */
.kuai{
	height:auto;
	background-color: #eee;
	padding:10px 10px;
	margin:10px 10px;
}

#xianzhib{
	margin:10px 12px;
}
.iconb{
    width:15%;
    float:left;
    margin-right:25px;
    padding:0 10px;
}
.iconb img{
    float:left;
    margin-right: 10px;
    width:17px;
    height:17px;
}
.iconb a{
    color:black;
    font-size: 0.2em;
}
.iconb a:hover{
	color:#990000;
}

/*以上是谁关注我*/

/*以下是我的标签*/
#mybiao{
	border-top:10px solid #aaa;
	background-color:#eee;
	padding:10px 10px;
	overflow:auto;
}
.mybiaoqian{
	background-color: #aaa;
	border-radius: 2px;
	width:20%;
	height:35px;
	text-align: center;
	float:left;
	margin:5px 5px;
}
.mybiaoqian a{
	line-height: 35px;
	color: #ffffff;
	font-size: 0.2em;
}
/*以上是我的标签*/

/* 我的收藏 */
	.features article {
		border-top: solid 3px #f4f4f4;
		margin-bottom: 2.25em;
		padding-top: 2.25em;
	}

		.features article:first-child {
			border-top: 0;
			padding-top: 0;
		}

		.features article .image {
			display: inline-block;
			padding-right: 2.5em;
			vertical-align: middle;
			width: 48%;
		}

			.features article .image img {
				display: block;
				width: 100%;
			}

		.features article .inner {
			display: inline-block;
			vertical-align: middle;
			width: 50%;
		}
.inner a{
    	font-size: 0.2em;
    	font-weight: lighter;
    }
			.features article .inner > :last-child {
				margin-bottom: 0;
			}

/* Header */

	#header {
		background: #eee;
		color: #990000;
		height: 100%;
		position: fixed;
		text-align: center;
		top: 0;
		width: 23em;
		right: 0;
	}
      /*用户名*/
		#header a {
			color: #555;
		}

			#header a:hover {
				color: #555 !important;
			}

		#header > header {
			padding: 3em;
		}

			#header > header .avatar {
				display: block;
				margin: 0 auto 2.25em auto;
				width: 8em;
			}
            /*个性签名*/
			#header > header h1 {
				font-size: 1.75em;
				margin: 0;
			}
			#header > header p {
				color: #aaa;
				font-style:normal;
				margin: 1em 0 0 0;
			}

		#header > footer {
			bottom: 0;
			left: 0;
			padding: 0 0 2em 0 ;
			position: absolute;
			width: 100%;
		}

			#header > footer .icons {
				margin-bottom: -32px;
			}

				#header > footer .icons li a {
    color: #f4f4f4;
    font-size: 14px;
    margin: 0 10px;
}
		#header > nav ul {
			list-style: none;
			margin: 0;
			padding: 0;
		}

			#header > nav ul li {
				border-top: solid 1px #990000;
				display: block;
				padding: 0;
			}

				#header > nav ul li a {
					-moz-transition: none;
					-webkit-transition: none;
					-o-transition: none;
					-ms-transition: none;
					transition: none;
					border: 0;
					color: #aaa !important;
					display: block;
					padding: 0.85em 0;
					text-decoration: none;
				}

					#header > nav ul li a.active {
						background: #fff;
						color: #990000 !important;
					}

				#header > nav ul li:first-child {
					border-top: 0;
				}

/* Wrapper */

	#wrapper {
		background: #fff;
		padding-right: 23em;
	}

/* Main */

	#main > section {
		border-top: solid 6px #f4f4f4;
	}

		#main > section > .container {
			padding: 6em 0 4em 0;
		}

		#main > section:first-child {
			border-top: 0;
		}

/* One */

	#one:before {
		background-image: url("../images/banner.jpg");
		background-position: top right;
		background-repeat: no-repeat;
		background-size: cover;
		content: '';
		display: block;
		height: 15em;
		width: 100%;
	}

/* Footer */

	#footer {
		background: #fafafa;
		border-top: 0;
		color: #c0c0c0;
		overflow: hidden;
		padding: 4em 0 2em 0;
	}

		#footer .copyright {
			line-height: 1em;
			list-style: none;
			padding: 0;
		}

			#footer .copyright li {
				border-left: solid 1px #d4d4d4;
				display: inline-block;
				font-size: 0.8em;
				margin-left: 1em;
				padding-left: 1em;
			}

				#footer .copyright li:first-child {
					border-left: 0;
					margin-left: 0;
					padding-left: 0;
				}

				#footer .copyright li a {
					color: inherit;
				}


.banquan{
	background-color: #990000;
  text-align: center;
  font-size: 12px;
  color:#fff;
  text-decoration: none;
  line-height: 200%;}
.banquan a{text-decoration: none;}





